<% if message.errors.any? %>
  <div class="alert alert-danger">
    <h4>There were some errors:</h4>
    <ul>
      <% message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: @message, local: true, data: { turbo: false } do |form| %>
  <div class="mb-3">
    <%= form.label :chat %>
    <%= form.collection_select :chat_id, @chats, :id, :chat_members, prompt: "Selecciona un chat" %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>
  
  <div class="mb-3">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <div class="mb-3">
    <%= form.submit class: 'btn btn-success' %>
  </div>
  <div>
    <% if message.persisted? %>
      <%= link_to 'Back', message_path(message), class: 'btn btn-secondary' %>
    <% else %>
      <%= link_to 'Back', messages_path, class: 'btn btn-secondary' %>
    <% end %>
  </div>
<% end %>