<h1 class="text-center">Messages</h1>

<div class="table-responsive">
    <table class="table table-success table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Chat ID</th>
                <th>User ID</th>
                <th>Body</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <% @messages.each do |message| %>
                <tr>
                <td><%= message.chat_id %></td>
                <td><%= message.user_id %></td>
                <td><%= message.body %></td>
                <td>
                    <%= link_to 'Ver', message_path(message), class: 'btn btn-primary btn-sm' %>
                </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="text-center">
        <%= link_to 'New', new_message_path, class: 'btn btn-secondary' %>
    </div>
</div>