<h1 class="mb-4 text-center">Message #<%= @message.id %></h1>

<div class="card mb-4 border-success">
  <div class="card-body">
    <% if can? :edit, @message %>
      <h5 class="card-title text-success">Body</h5>
      <p class="card-text"><%= @message.body %></p>
    <% end %>
    <hr>
    <p>
        <strong>Chat:</strong>
        <%= link_to "Chat ##{@message.chat.id}", chat_path(@message.chat) %><br>
        <strong>Sender:</strong>
        <%= link_to "#{@message.user.first_name} #{@message.user.last_name}", user_path(@message.user) %><br>
        <strong>Receiver:</strong>
        <%= link_to "#{@message.chat.receiver.first_name} #{@message.chat.receiver.last_name}", user_path(@message.chat.receiver) %><br>
        
    </p>
    <p class="text-muted">
        <strong>Created At:</strong> <%= @message.created_at %><br>
        <strong>Updated At:</strong> <%= @message.updated_at %>
    </p>
  </div>
</div>

<div class="text-center">
  <%= link_to 'Back', messages_path, class: 'btn btn-secondary' %>
  <% if can? :edit, @message %>
    <%= link_to 'Edit Message', edit_message_path, class: 'btn btn-success' %>
  <% end %>
</div>