<h1 class="mb-4 text-center">User: <%= @user.first_name %> <%= @user.last_name %></h1>
<div class="card mb-4 border-success">
  <div class="card-body">
    <h5 class="card-title text-success">Email</h5>
    <p class="card-text"><%= @user.email %></p>
    <h5 class="card-title text-success">ID</h5>
    <p class="card-text"><%= @user.id %></p>
  </div>
</div>

<div class="row">
  <% if can? :edit, @user %>
    <div class="col-md-6">
      <div class="card mb-4 border-success">
        <div class="card-header bg-success text-white">
          Chats Participated
        </div>
        <ul class="list-group list-group-flush">
          <% (@user.sent_chats + @user.received_chats).uniq.each do |chat| %>
            <li class="list-group-item">
              Chat ID: <%= link_to chat.id, chat_path(chat) %>
              <span class="text-muted">(Sender: <%= chat.sender.first_name %>, Receiver: <%= chat.receiver.first_name %>)</span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-4 border-success">
        <div class="card-header bg-success text-white">
          Sent Messages
        </div>
        <ul class="list-group list-group-flush">
          <% @user.messages.each do |message| %>
            <li class="list-group-item">
              [Chat <%= link_to message.chat_id, chat_path(message.chat) %>]:
              <%= message.body %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% else %>
  <div class="col-md-12">
      <div class="card mb-4 border-success">
        <div class="card-header bg-success text-white">
          Chats Participated
        </div>
        <ul class="list-group list-group-flush">
          <% (@user.sent_chats + @user.received_chats).uniq.each do |chat| %>
            <li class="list-group-item">
              Chat ID: <%= link_to chat.id, chat_path(chat) %>
              <span class="text-muted">(Sender: <%= chat.sender.first_name %>, Receiver: <%= chat.receiver.first_name %>)</span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>

<div class="text-center">
  <%= link_to 'Back', users_path, class: 'btn btn-secondary' %>
  <% if @user == current_user %>
    <%= link_to 'Edit User', edit_user_path, class: 'btn btn-success' %>
  <% end %>

</div>