<% if chat.errors.any? %>
  <div class="alert alert-danger">
    <h4>There were some errors:</h4>
    <ul>
      <% chat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: @chat, local: true, data: { turbo: false } do |form| %>

  <%= form.hidden_field :sender_id, value: current_user.id %>

  <div class="mb-3">
    <%= form.label :receiver_id %>
    <%= form.collection_select :receiver_id, @users, :id, :full_name, prompt: "Selecciona un usuario" %>
  </div>
  <div class="mb-3">
    <%= form.submit class: 'btn btn-success' %>
  </div>
  <div>
  <% if chat.persisted? %>
    <%= link_to 'Back', chat_path(chat), class: 'btn btn-secondary' %>
  <% else %>
    <%= link_to 'Back', chats_path, class: 'btn btn-secondary' %>
  <% end %>
  </div>
<% end %>