<h1 class="text-center">Chat between <%="#{@chat.sender_id} and #{@chat.receiver_id}"%></h1>

<div class="table-responsive">
    <div class="table-responsive">
        <table class="table table-success table-striped">
            <tr><th>ID</th>
                <th>Sender ID</th>
                <th>receiver ID</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
            <tr>
                <td><%= @chat.id %></td>
                <td><%= @chat.sender_id %></td>
                <td><%= @chat.receiver_id %></td>
                <td><%= @chat.created_at %></td>
                <td><%= @chat.updated_at %></td>
        </table>
    </div>
</div>

<div>
    <%= link_to 'Return', chats_path, class: 'btn btn-secondary' %>
</div>