<h1 class="mb-4 text-center">Chat #<%= @chat.id %></h1>

<div class="card mb-4 border-success">
  <div class="card-body">
    <h5 class="card-title text-success">Participants</h5>
    <p>
      <strong>Sender:</strong>
      <%= link_to "#{@chat.sender.first_name} #{@chat.sender.last_name}", user_path(@chat.sender) %><br>
      <strong>Receiver:</strong>
      <%= link_to "#{@chat.receiver.first_name} #{@chat.receiver.last_name}", user_path(@chat.receiver) %>
    </p>
  </div>
</div>

<% if can? :edit, @chat %>                       
  <div class="card mb-4 border-success">
    <div class="card-header bg-success text-white">
      Messages in this Chat
    </div>
    <ul class="list-group list-group-flush">
      <% @chat.messages.each do |message| %>
        <li class="list-group-item">
          <strong>
            <%= link_to "#{message.user.first_name} #{message.user.last_name}", user_path(message.user) %>
          </strong>:
          <%= message.body %>
          <span class="text-muted float-end"><%= message.created_at.strftime("%Y-%m-%d %H:%M") %></span>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="text-center">
  <%= link_to 'Back', chats_path, class: 'btn btn-secondary' %>
  <% if can? :edit, @chat %>
    <%= link_to 'Edit Chat', edit_chat_path, class: 'btn btn-success' %>
  <% end %>
</div>